section {
    padding-bottom: 3px;
}

li {
    margin-bottom: 10px;
}

dd {
    position: relative;
    right: 25px;
}

.command-name {
    font-size: 120%;
    background-color: #ededf0;
    background-size: 120%;
}

footer {
    position: relative;
    top: 2em;
    padding-bottom: 5px;
}
