body {
    font-family: arial;
}

section {
    padding-bottom: 3px;
}

hr {
    border-width: 1px 0 0 0;
    border-style: solid;
    color: #a0a0a0;
}

li {
    margin-bottom: 10px;
}


dd {
    position: relative;
    right: 25px;
}

.command-name {
    position: relative;
    font-size: 120%;
    background-color: #ededf0;
    padding-left: 12px;
    font-weight: 600;
}

footer {
    position: relative;
    top: 10px;
    padding-bottom: 1px;
    margin: -8px;
}

footer>p {
    margin-left: 8px;
    padding-left: 10px;
}
